/*colores*/
:root{
    --black: #000000;/*color de los botones*/
    --second:#f7f7f7;
    --white:#FFFFFF;
    --grey:#999999;/*color de fondo del body*/
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;/*Tipografia */
    font-weight:300;/**/
    background-color:var(--second);/**/
    box-sizing: border-box;
    display: flex;  /* Establecer la visualización en flexbox para alinear los elementos en fila */
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal si es necesario */
    overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
  }
  
  
  
  
  /*-------------------------------------MENU--------------------------------------*/
  .bg-primary{
    background-color: var(--white)!important;/*asignasión del color para el fondo del menu*/
  }
  #sidebar-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 16rem; /* Ancho del menú, ajusta según tus necesidades */
    min-height:100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  #sidebar-container .logo{
    padding: .875rem 1.25rem;
  }
  
  /*Asignación del tamaño y margen del logo*/
  #sidebar-container .logo img{
    width: 85px;
    margin-left: 4rem;
  }
  #sidebar-container .menu{
    width: 16rem;
  }
  
  #sidebar-container .menu a {
    text-decoration: none;
    font-size: 15px;
    color: var(--black);
    display: block;
      padding: 10px;
  }
  
  #sidebar-container .menu i {
    margin-right: 15px; /* Ajusta el espacio según tu preferencia */
  }
  
  #sidebar-container .menu p {
    color: var(--grey);
    margin-bottom: 0.1rem;/*Cambio y separación de la palabra Manú*/
  }
  
  /*transicion de hipervinculos*/
  .menu a.active {
    background-color: var(--second); /* Cambia el color según tus preferencias */
  }
  #sidebar-container .menu a:hover {
    background-color: var(--black); /* Cambia el color según tus preferencias */
    color: var(--white); /* Cambia el color del texto cuando el fondo está oscurecido */
  }
  
  
  .menu a.active:hover {
    background-color: var(--second) !important;
    color: var(--black) !important;
  }
  
  #sidebar-container .menu a:hover:not(.active) {
    background-color: var(--black);
    color: var(--white);
  }
  



  /*-------------------------------CLIENTES--------------------------------*/
  .contenedor-principal{
    flex: 1;
    padding: 15px;
    margin-left: 16.2rem; /* Ancho del menú, ajusta según tus necesidades */
    margin-right: 0.5rem;
    margin-top: 10px; /* Ajusta según la altura de tu menú */
    display: flex;
    flex-direction: column;
  }
  .bottom-container {
    width: 100%;
    background-color: var(--white);
    padding: 16px;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    border-radius: 6px;
    box-shadow: #00000014 0 6px 12px;
    height: fit-content;
    border: 1px solid rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .bottom-container h5{
    font-weight: 500;
      font-size: 24px;
      background-image: linear-gradient(135deg,#A18D57 0%,#DECC8D 13%,#F8E7AA 25%,#DECC8D 38%,#A18D57 50%,#DECC8D 63%,#F8E7AA 75%,#DECC8D 88%,#A18D57 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      display: inline;
      font-weight: bold;
  }
  .bottom-container .title{
    margin: -16px -16px 20px;
    padding: 10px 16px;
    background-color: var(--black);
  }
  .showPopupBtn{
    border: none;
  background-color: var(--white);
  font-size: 25px;
  }

  /*---------------------------------MODAL--------------------------------*/
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  .modal-header{
    margin: 0px;
    padding: 10px 20px;
    background-color: var(--black);
    width: 100%;
  }
  .modal-title{
    font-weight: 500;
    font-weight: bold;
    font-size: 24px;
    background-image: linear-gradient(135deg,#A18D57 0%,#DECC8D 13%,#F8E7AA 25%,#DECC8D 38%,#A18D57 50%,#DECC8D 63%,#F8E7AA 75%,#DECC8D 88%,#A18D57 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
  }
  .popup-content {
    text-align: left;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
.boton-modal {
    background-image: linear-gradient(135deg,#000,#000 30%,#a18d57 60%,#f8e7aa);
  background-size: 300% auto;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  transition: color .4s, background-image .4s,background-position .4s;
  padding:10px 20px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 14rem;
}

/*colores de botones*/
.boton-modal:hover:not(:disabled) {
  background-position: 100%;
  color: #000;
}